In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r"C:\Users\trilok\Downloads\BMI.csv")
df.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [3]:
df['Gender'] = df['Gender'].map({'Male':0,'Female':1})

In [4]:
df.head(2)

   Gender  Height  Weight  Index
0       0     174      96      4
1       0     189      87      2

In [5]:
independent_df = df[['Gender', 'Height', 'Weight']]

In [6]:
independent_df.head(5)

   Gender  Height  Weight
0       0     174      96
1       0     189      87
2       1     185     110
3       1     195     104
4       0     149      61

In [7]:
vif_df =pd.DataFrame()
vif_df["features"] = independent_df.columns
vif_df.head()

  features
0   Gender
1   Height
2   Weight

In [8]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

C:\Users\trilok\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [9]:
vif_df["vif"] = [variance_inflation_factor(independent_df.values,i) for i in range(len(independent_df.columns))]

In [10]:
vif_df

  features        vif
0   Gender   2.028864
1   Height  11.623103
2   Weight  10.688377

# conclusion

##### height and weight have very high values of VIF, indicating that these two variables are highly correlated.
##### This is expected as the height of a person does influence their weight.
##### Hence, considering these two features together leads to a model with high multicollinearity.

## next questions and solution

###### we got the answer height and weight is highly correlated so the question is which among these should be deleted for that 
###### we'll calculate corr and which ever is having the high contribution with target column ,
###### we'll keep that and we'll remove other one

In [11]:
df.corr()

          Gender    Height    Weight     Index
Gender  1.000000  0.017677 -0.009523 -0.028786
Height  0.017677  1.000000  0.000446 -0.422223
Weight -0.009523  0.000446  1.000000  0.804569
Index  -0.028786 -0.422223  0.804569  1.000000

## conclusion

#### so here weight is have strong correlation with target column ,so we'll select weight and discard height

## impact checking

In [12]:
changed_df=df.drop(['Height'],axis=1)
changed_df.head(2)

   Gender  Weight  Index
0       0      96      4
1       0      87      2

In [15]:
changed_independent_df=changed_df[['Gender','Weight']]

In [16]:
vif_changed_df =pd.DataFrame()
vif_changed_df["features"] = changed_independent_df.columns
vif_changed_df["vif"] = [variance_inflation_factor(changed_independent_df.values,i) for i in range(len(changed_independent_df.columns))]
vif_changed_df

  features       vif
0   Gender  1.865292
1   Weight  1.865292